{% extends "master.html" %}
{% load static %}

{% block title %}
  product_list
{% endblock %}


{% block content %}
<!-- content @s -->
<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Products</h3>
                        </div><!-- .nk-block-head-content -->
                        <div class="nk-block-head-content">
                            <div class="toggle-wrap nk-block-tools-toggle">
                                <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
                                <div class="toggle-expand-content" data-content="pageMenu">
                                    <ul class="nk-block-tools g-3">
                                        <li>
                                            <div class="form-control-wrap">
                                                <div class="form-icon form-icon-right">
                                                    <em class="icon ni ni-search"></em>
                                                </div>
                                                <input type="text" class="form-control" id="default-04" placeholder="Quick search by id">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="drodown">
                                                <a href="#" class="dropdown-toggle dropdown-indicator btn btn-outline-light btn-white" data-bs-toggle="dropdown">Status</a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <ul class="link-list-opt no-bdr">
                                                        <li><a href="#"><span>New Items</span></a></li>
                                                        <li><a href="#"><span>Featured</span></a></li>
                                                        <li><a href="#"><span>Out of Stock</span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nk-block-tools-opt">
                                            <a href="#" data-target="addProduct" class="toggle btn btn-icon btn-primary d-md-none"><em class="icon ni ni-plus"></em></a>
                                            <a href="#" data-target="addProduct" class="toggle btn btn-primary d-none d-md-inline-flex"><em class="icon ni ni-plus"></em><span>Add Product</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- .nk-block-head-content -->
                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->
<!--                <div class="alert alert-success alert-icon">-->
<!--                            <em class="icon ni ni-check-circle"></em> <strong>Thanks for your deposit</strong>. Your account balance has been updated accordingly.-->
<!--                        </div>-->
                <div class="nk-block">
                    <div class="card card-bordered">
                        <div class="card-inner-group">
                            <div class="card-inner p-0">
                                <div class="nk-tb-list">
                                    <div class="nk-tb-item nk-tb-head">

                                        <div class="nk-tb-col tb-col-sm"><span>Name</span></div>

                                        <div class="nk-tb-col"><span>Price</span></div>
                                        <div class="nk-tb-col"><span>Discount</span></div>
                                        <div class="nk-tb-col tb-col-md"><span>Category</span></div>
                                        <div class="nk-tb-col tb-col-md"><em class="tb-asterisk icon ni ni-star-round"></em></div>
                                        <div class="nk-tb-col nk-tb-col-tools">

                                        </div>
                                    </div><!-- .nk-tb-item -->
                                    {% for product in page %}
                                    <div class="nk-tb-item">
                                        <div class="nk-tb-col tb-col-sm">
                                            <span class="tb-product">
                                                 <img src="/media/{{product.product_image}}" alt="" class="thumb">
                                                <span class="title">{{product.product_name}}</span>
                                            </span>
                                        </div>
                                        <div class="nk-tb-col">
                                            <span class="tb-lead">${{product.product_price}}</span>
                                        </div>
                                        <div class="nk-tb-col">
                                            <span class="tb-sub">{{product.product_category.product_discount}}</span>
                                        </div>
                                        <div class="nk-tb-col tb-col-md">
                                            <span class="tb-sub">{{product.product_category.product_category}}</span>
                                        </div>
                                        <div class="nk-tb-col tb-col-md">
                                            <div class="asterisk tb-asterisk">
                                                <a href="#"><em class="asterisk-off icon ni ni-star"></em><em class="asterisk-on icon ni ni-star-fill"></em></a>
                                            </div>
                                        </div>
                                        <div class="nk-tb-col nk-tb-col-tools">
                                            <ul class="nk-tb-actions gx-1 my-n1">
                                                <li class="me-n1">
                                                    <div class="dropdown">
                                                        <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                        <div class="dropdown-menu dropdown-menu-end">
                                                            <ul class="link-list-opt no-bdr">
                                                                <li><a href="{% url 'edit_product' product.id %}"><em class="icon ni ni-edit"></em><span>Edit Product</span></a></li>
                                                                <li><a href="#"><em class="icon ni ni-eye"></em><span>View Product</span></a></li>
                                                                <li><a href="#"><em class="icon ni ni-activity-round"></em><span>Product Orders</span></a></li>
                                                                <li><a href="{% url 'delete_product' product.id %}"><em class="icon ni ni-trash"></em><span>Remove Product</span></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div><!-- .nk-tb-item -->
                                    {% endfor %}
                                </div><!-- .nk-tb-list -->
                            </div>
                            <div class="card-inner">
                                <div class="nk-block-between-md g-3">
                                    <div class="pagination">
                                        <span class="step-links">
                                            <span class="current-page">{{ page.number }} of {{ page.paginator.num_pages }}.</span>
                                        </span>
                                    </div>
                                    <div class="g">
                                        <ul class="pagination justify-content-center justify-content-md-start">
                                                {% if page.has_previous %}
                                            <li class="page-item"><a class="page-link" href="product_list?page={{ page.previous_page_number }}"><em class="icon ni ni-chevrons-left"></em></a></li>
                                                {% endif %}
                                            {% for i in page.paginator %}

                                            <li class="page-item"><a class="page-link {% if i.number == page.number %} active {% endif %}" href="product_list?page={{ i.number }}">{{ i.number}}</a></li>
                                            {% endfor %}

<!--                                            <li class="page-item"><span class="page-link"><em class="icon ni ni-more-h"></em></span></li>-->
                                                {% if page.has_next %}
                                            <li class="page-item"><a class="page-link" href="product_list?page={{ page.next_page_number }}"><em class="icon ni ni-chevrons-right"></em></a></li>
                                                {% endif %}
                                        </ul><!-- .pagination -->
                                    </div>
<!--                                    <div class="g">-->
<!--                                        <div class="pagination-goto d-flex justify-content-center justify-content-md-start gx-3">-->
<!--                                            <div>Page</div>-->
<!--                                            <div>-->
<!--                                                <select class="form-select js-select2" data-search="on" data-dropdown="xs center">-->
<!--                                                    <option value="page-1">1</option>-->
<!--                                                    <option value="page-2">2</option>-->
<!--                                                    <option value="page-4">4</option>-->
<!--                                                    <option value="page-5">5</option>-->
<!--                                                    <option value="page-6">6</option>-->
<!--                                                    <option value="page-7">7</option>-->
<!--                                                    <option value="page-8">8</option>-->
<!--                                                    <option value="page-9">9</option>-->
<!--                                                    <option value="page-10">10</option>-->
<!--                                                    <option value="page-11">11</option>-->
<!--                                                    <option value="page-12">12</option>-->
<!--                                                    <option value="page-13">13</option>-->
<!--                                                    <option value="page-14">14</option>-->
<!--                                                    <option value="page-15">15</option>-->
<!--                                                    <option value="page-16">16</option>-->
<!--                                                    <option value="page-17">17</option>-->
<!--                                                    <option value="page-18">18</option>-->
<!--                                                    <option value="page-19">19</option>-->
<!--                                                    <option value="page-20">20</option>-->
<!--                                                </select>-->
<!--                                            </div>-->
<!--                                            <div>OF 102</div>-->
<!--                                        </div>-->
<!--                                    </div>&lt;!&ndash; .pagination-goto &ndash;&gt;-->
                                </div><!-- .nk-block-between -->
                            </div>
                        </div>
                    </div>
                </div><!-- .nk-block -->
                <div class="nk-add-product toggle-slide toggle-slide-right" data-content="addProduct" data-toggle-screen="any" data-toggle-overlay="true" data-toggle-body="true" data-simplebar>
                    <div class="nk-block-head">
                        <div class="nk-block-head-content">
                            <h5 class="nk-block-title">New Product</h5>
                            <div class="nk-block-des">
                                <p>Add information and add new product.</p>
                            </div>
                        </div>
                    </div><!-- .nk-block-head -->
                    <div class="nk-block">
                        <form enctype="multipart/form-data" method="post">
                            {% csrf_token %}
                            <div class="row g-3">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="form-label" for="product_name">Product Name</label>
                                        <div class="form-control-wrap">
                                            <input type="text" class="form-control" name="product_name" id="product_name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label" for="product_price">Product Price</label>
                                        <div class="form-control-wrap">
                                            <input type="number" class="form-control" name="product_price" id="product_price">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="form-label" for="product_category">Product Category</label>
                                        <div class="form-control-wrap">
                                            <select name="product_category" class="form-control" id="product_category">
                                                {% for x in product_category_list %}
                                                <option value="{{ x.id }}">{{ x.product_category }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="form-label" for="product_description">Product Description</label>
                                        <div class="form-control-wrap">
                                            <!--<input type="" class="form-control" name="product_description" id="product_description">-->
                                            <textarea name="product_description" id="product_description" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="product_image">Product Image</label>
                                    <div class="form-control-wrap">
                                        <div class="form-file">
                                            <input type="file" name="product_image" class="form-file-input" id="customFile">
                                            <label class="form-file-label"  id="product_image" for="customFile">Choose file</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary" type="submit"><em class="icon ni ni-plus"></em><span>Add New</span></button>
                                </div>
                            </div>
                        </form>
                    </div><!-- .nk-block -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content @e -->

<!--<script type="script">-->
<!--    $( document ).ready(function() {-->
<!--        swal("Hello world!");-->
<!--    });-->
<!--</script>-->
{% endblock %}
