{% extends "master.html" %}

{% block title %}
  reset password
{% endblock %}


{% block content %}
<div class="nk-wrap nk-wrap-nosidebar">
    <div class="nk-content ">
        <div class="nk-block nk-block-middle nk-auth-body  wide-xs">
            <div class="card card-bordered">
                <div class="card-inner card-inner-lg">
                    <div class="nk-block-head">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="form-label-group">
                                    <label class="form-label" for="default-01">New Password</label>
                                </div>
                                <div class="form-control-wrap">
                                    <input type="text" class="form-control form-control-lg" name="n_password" id="default-01" placeholder="Enter new password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-label-group">
                                    <label class="form-label" for="default-02">Confirm Password</label>
                                </div>
                                <div class="form-control-wrap">
                                    <input type="text" class="form-control form-control-lg" name="c_password" id="default-02" placeholder="Re-enter password">
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
